@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

* {
    font-family: 'Poppins', cursive;
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el ancho total */
}

body {
    color: azure;
    width: 100%;
    height: 100vh; /* Cambia a 100vh para llenar la pantalla */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 0; /* Elimina márgenes predeterminados */
}

.botones {
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}

.botones a {
    background-color: #0a2be9;
    padding: 9px 16px; /* Añade un poco de padding horizontal */
    border-radius: 80px;
    text-decoration: none; /* Asegura que no haya subrayado */
    color: white; /* Cambia el color del texto para mejor contraste */
}

.botones a:focus {
    background-color: rgb(50, 194, 194);
}

.greetings {
    font-size: 7rem;
    font-weight: 900;
    text-align: center; /* Centra el texto */
}

.greetings > span {
    animation: glow 2.5s ease-in-out infinite;
}

@keyframes glow {
    0%, 100% {
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90% {
        color: #111;
        text-shadow: none;
    }
}

.greetings > span:nth-child(2) {
    animation-delay: .2s;
}
.greetings > span:nth-child(3) {
    animation-delay: .4s;
}
.greetings > span:nth-child(4) {
    animation-delay: .6s;
}
.greetings > span:nth-child(5) {
    animation-delay: .8s;
}
.greetings > span:nth-child(6) {
    animation-delay: 1s;
}

.description {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center; /* Centra la descripción */
}

.button a {
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width: 768px) {
    .greetings {
        font-size: 5rem; /* Ajusta el tamaño de fuente para tablets */
    }
    .description {
        font-size: 1.75rem; /* Ajusta el tamaño de fuente para tablets */
    }
    .button a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 574px) {
    .greetings {
        font-size: 4rem;
        font-weight: 800;
    }
    .description {
        font-size: 2rem;
    }
    
    .button a {
        font-size: 0.9rem; /* Ajusta el tamaño de fuente para celulares */
    }
}